.user-item {
    margin: 1rem;
  }
  
  .user-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem;
    color: black;
  }
  
  .user-item__content {
    padding: 0;
  }
  
  .user-item__image {
    width: 11rem;
    height: 15rem;
  }
  
  .user-item__info h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    color: black;
  }
  
  .user-item:hover h2,
  .user-item:active h2,
  .user-item:hover h3,
  .user-item:active h3 {
    color: #292929;
  }
  
  .user-item__info h3 {
    margin: 0;
  }